*.log
*.pot
*.pyc
*.sqlite3
local_settings.py
*.swp
*.swo
external/
collected_static/
.vagrant
.DS_Store
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.status
configure
libtool
m4/
.deps/
.libs/
**/build/
**/dist/
*.egg-info
*.lo
*.o
*.la
stamp-h1
check_atc
check_atc.trs
*.cap
*.har
pcap2har/
internal
.coverage
.kitchen/

# Go stuff
/bin/
*.db
*.log
.gopath
*.rpm
**/node_modules/
build-pkg
lib
vendor
log/
db/
