---
---
{% include header.html %}
    <div class="section_title">About</div>
    <p>
    <a href="{{ site.data.config.project_github }}">{{ site.data.config.project_fullname }}</a> (aka <strong>{{ site.data.config.project_name }}</strong>) is a project that allows developers to control the connection that a device has to the internet. Developers can use <strong>{{ site.data.config.project_name }}</strong> to test their application across varying network conditions, easily emulating high speed, mobile, and even severely impaired networks.</p>
    <p>
    Aspects that can be controlled by ATC include:
    <ul>
      <li>Bandwith</li>
      <li>Latency</li>
      <li>Packet loss</li>
      <li>Packet corruption</li>
      <li>Packet reordering</li>
    </ul>
    </p>

    <p>
    Because <strong>{{ site.data.config.project_name }}</strong> runs on a gateway, any devices that are connected to a network routing through it, can use it to shape its traffic. Traffic can be shaped/unshaped using a web interface allowing any devices that have a web browser to use ATC without the need for a client application.
    </p>
    <p>
    <div class="section_title">Architecture</div>
    <div class="section_subtitle">Overview</div>
    <p>
    <code>{{ site.data.config.project_fullname }}</code> is made of a set of applications that inter-operate together. At the core of it is <a href="{{ site.data.config.project_github }}/tree/master/atc/atcd">atcd</a>, the ATC daemon, that is responsible for setting shaping characteristics.
<em>atcd</em> provides a <a href="https://thrift.apache.org/" target="_blank">Thrift</a> interface in order to interact with it.
    </p>
    <p>
    A django REST API, <a href="{{ site.data.config.project_github }}/tree/master/atc/django-atc-api">django-atc-api</a>, is also provided in order to make it easier to build web applications that can interact with <em>atcd</em> using the well known REST paradigm.
    </p>
    <p>
    To get people started, a simple Web UI is provided: <a href="{{ site.data.config.project_github }}/tree/master/atc/django-atc-demo-ui">django-atc-demo-ui</a>.
    </p>
    <img src="{{ site.baseurl }}/images/atc_overview.png" />

    <div class="section_title">Contributions</div>
    <p>Use <a href="{{ site.data.config.project_github }}/issues">Github issues</a> for requests.</p>
    <p>We actively welcome pull requests; learn how to <a href="{{ site.data.config.project_github }}/blob/master/CONTRIBUTING.md">contribute</a>.</p>

    <div class="section_title">Changelog</div>
    <p>Changes are tracked as <a href="{{ site.data.config.project_github }}/releases">Github releases</a>.</p>


    <div class="section_title">License</div>
    <p><code>{{ site.data.config.project_fullname }}</code> is <a href="{{ site.data.config.project_github }}/blob/master/LICENSE">{{ site.data.config.project_license }}-licensed</a>. We also provide an additional <a href="{{ site.data.config.project_github }}/blob/master/PATENTS">patent grant</a>.</p>

  </div>
{% include footer.html %}
