<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load bootstrap_themes %}
    <head>
    <title>{{ atc_demo_ui_settings.SHORT_TILE }}</title>
    <meta charset="utf-8" />
    <meta name="description" content="{{ atc_demo_ui_settings.TITLE }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- React.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-sham.min.js"></script>
    <script src="{% static 'vendor/react/react-0.13.3.js' %}"></script>
    <script src="{% static 'vendor/react/JSXTransformer-0.13.3.js' %}"></script>
    <script type="text/jsx" src="{% static 'js/atc-api.js' %}"></script>
    <script type="text/jsx" src="{% static 'js/atc-profile-storage.js' %}"></script>
    <script type="text/jsx" src="{% static 'js/atc-utils.js' %}"></script>
    <script type="text/jsx" src="{% static 'js/atc-auth.js' %}"></script>
    <script type="text/jsx" src="{% static 'js/atc-profiles.js' %}"></script>
    <script type="text/jsx" src="{% static 'js/atc-shaping.js' %}"></script>
    <script type="text/jsx" src="{% static 'js/atc.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/atc.css' %}" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'static_jquery/js/jquery.min.js' %}"></script>

    <!-- Bootstrap CSS -->
    {% bootstrap_styles theme='default' type='min.css' %}
    <!-- Bootstrap JS -->
    {% bootstrap_script use_min=True %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>
        <div class="container">
        <div class="starter-template">
        <h1>{{ atc_demo_ui_settings.TITLE }}</h1>
        {% block content %}{% endblock %}
        </div>
        </div>
    </body>
</html>
